/**
* ! Changing default styles of the browser
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #22252A;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    color: #F8B960;
    font-family: Mr Alex;
    font-size: 50px;
}

/**
* ! Navbar Styles are here
**/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    margin-bottom: 30px;
}

.cart {
    position: relative;
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}

.cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.verder-winkelen{
    margin: 2.5%;
    color: #F8B960;
    font-size: medium;
    text-decoration: underline;
}

.verder-winkelen:hover{
    color: #C6944C;
}

/**
* ! style rules for label and some buttons
**/

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.checkout {
    background-color: green;
}
.removeAll {
    background-color: red;
}

/**
* ! style rules for shopping-cart
**/

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
}

.list-title {
    color: white;
    font-weight: bold;
    font-size: 30px;

}

/**
* ! style rules for cart-item
**/

.cart-item{

}

.text-orange{
    color: #F8B960;
}

.btn-orange{
    color: #fff;
    background-color: #F8B960;
    border-color: #F8B960;
}

.btn-order{
    background-color: #F8B960;
    border-color: #F8B960;
    color: #22252A;;
}

.btn-order:hover{
    color: #22252ada;;
}

.remove-link{
    color: #fff!important;
    text-decoration: underline!important;
    cursor: pointer;
}

.remove-link:hover{
    color: #cccccc!important
}

.p-2 {
    width: 85%;
}

.hr-orange {
    margin-top: 2rem;
    margin-bottom: 3rem;
    border: 0;
    border-top: 1px solid #F8B960;

}