@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    text-decoration: none;
}

body {
    background-color: #22252A;
    background-image: url("assets-pasta/home-head-less.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

h1 {
    color: #F8B960;
    font-family: Mr Alex, sans-serif;
    font-size: 50px;
}

/* Header */
header {
    width: 100%;
    height: 6rem;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    align-items: center;
    font-weight: 340;
}
#homebut {
    padding-left: 2rem;

}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li a {
    padding: 1rem;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

header ul li a:hover {
    color: #f8b960;
    font-weight: 400;
    text-decoration: underline;
}

#current_page {
    font-weight: bold;
    color: #f8b960;
}

#logo {
    width: 8rem;
}

header i {
    width: 3rem;
    color: #ffffff;
    font-size: 20pt;
}
header i:hover {
    color: #f8b960;
}

/* Deel 1: Main */
#hero {
    background-image: url("assets-pasta/home-head-hero.png");
    background-repeat: no-repeat;
    background-position: 550px -120px;
    background-size: 90%;
    height: 800px;
}

.Titel_div {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    padding: 13rem 0 1rem 8rem;
    text-align: Left;
    font-size: 35px;
    color: white;
}
#hero {
    background-image: url("assets-pasta/home-head-hero.png");
    background-size: 100%;
    
}

.Titel_div p {
    font-size: 16px;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

.Title {
    color: white;
    font-size: 85px;
}

.Title_smalltext {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
}

.Knop-Bekijk-Ons-Aanbod {
    margin: 1.5%;
    background-color: #F8B960;
    color: #272425;
    border-width: 0;
    border-radius: 35px;
    padding: 25px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Knop-Bekijk-Ons-Aanbod:hover {
    cursor: pointer;
    background-color: #e7a344;
    padding: 27px;
    color: #f8e8be;
}

.Bekijk-Ons-Aanbod-Knop-Div {
    flex-direction: column;
    padding-bottom: 100px;
}



/* Deel 2: Info */
.meest {
    color: #e7a344;
    background-color: #22252A;
    padding-left: 8rem;
    padding-top: 3rem;
    font-size: 20pt;
}



#Uitleg {
    background-color: #22252A;
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 100px 400px;

}
#uitlegdiv {
    padding-top: 4rem;
    padding-bottom: 4rem;
}



#Waarom_Titel {
    padding-top: 5px;
}

#Uitleg p {
    color: white;
    padding-top: 25px;
    font-size: 15pt;
    font-weight: 300;
}

#uitlegdiv img {
    width: 90%;
    padding: 2rem;
}

#uitlegtekst {
    padding: 2rem 0 2rem 6rem;
}

.Inspiratie_Titel {
    padding-left: 69%;
    padding-bottom: 2rem;
}

.inspiratie img {
    width: 100%;
    padding: 0;
}

.inspiratie button {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.22);
}

#insp1 {
    background-image: url("assets-pasta/ambient-food1.png");
    background-size: cover;
    height: 350px;
    position: relative;

}
#insp2 {
    background-image: url("assets-pasta/ambient-food2.png");
    background-size: cover;
    height: 350px;
    position: relative;
}
#insp3 {
    background-image: url("assets-pasta/ambient-food3.png");
    background-size: cover;
    height: 283px;
    position: relative;
}


.Uitleg-voordelen-button{
    margin: 1%;
    background-color: #F8B960;
    color: white;
    border-width: 0;
    border-radius: 35px;
    padding: 15px;
    width: 30%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}



/* Deel 3: Ervaringen */
.Ervaringen {
    background-color: #fff7f5;
    height: 600px;
}

.Ervaringen_Titel {
    padding-top: 60px;
    padding-left: 140px;
    color: black;
}

.info-chefs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.Info-chef-individueel {
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
    padding: 2%;
    height: 300px;
    width: 25%;
    margin: 2.69%;
    border-radius: 25px;
}

.Info-chef-individueel p {
    padding: 20px 10px;
    font-style: italic;
    color: #6c757d;

}
.avatar {
    display: flex;
    align-items: center;
}
.avatar h2 {
    margin-left: 1rem;
}

.Info-chef-individueel img {
    width: 20%;
}

.Bekijk-Meer-Recensies-Knop-Div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 150px;
}

/* Deel 4: footer */
.foot {
    box-shadow: 0 0 20px black;
    display: flex;
    text-align: center;
    background: #22252A;
    padding: 30px;
    color: white;
}

.foot p {
    padding: 0 45px;
}

.foot a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.Extra-nav {
    width: 50%;
}
.Ons-aanbod {
    width: 50%;
}
.Contact {
    width: 50%;
}

.Container_Subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #22252A;
    padding: 30px;
    color: white;
}


/* Carousel*/

.artkaroe{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #22252A;
}
.karoe{
    position: relative;
    height: 450px;
    width: 1075px;
    display: flex;
    align-items: center;
}
.swiper{
    width: 950px;
}
.card{
    position: relative;
    background: #f9f9ff;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: grab;
}
.card::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #ececf1;
    border-radius: 20px 20px 0 0;
}
.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
.karoe .card .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #F8B960;
    box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.15);
}
.karoe .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
.card .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .media-icons i:hover{
    opacity: 1;
}
.card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

}
.name-profession .name{
    font-size: 20px;
    font-weight: 600;
}
.name-profession .profession{
    font-size:15px;
    font-weight: 500;
}
.card .rating{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.card .rating i{
    font-size: 18px;
    margin: 0 2px;
    color: #F8B960;
}
.card .button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.card .button button{
    background: #F8B960;
    outline: none;
    border: none;
    color: #22252A;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin: 5px;
}
.button button:hover{
    background: #e59320;
    color: #fff;
}
.swiper-pagination{
    position: absolute;
}
.swiper-pagination-bullet{
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background-color: #F8B960;
}
.swiper-button-next, .swiper-button-prev{
    opacity: 0.7;
    color: #F8B960;
    transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
    opacity: 1;
    color: #f5d4a8;
}


/* naar boven button */

#terugnaarboven:hover {
    background-color: #f89a16;
}
#terugnaarboven2:hover {
    background-color: #f89a16;

}

#terugnaarboven {
    position: fixed;
    bottom: 0;
    right: 25px;
    background-color: #F8B960;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 0.5rem 2rem;
}
#terugnaarboven p {
    color: #22252A;
    text-decoration: none;
}
#terugnaarboven2 {
    position: fixed;
    bottom: 0;
    right: 25px;
    background-color: #F8B960;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem;
}
#terugnaarboven2 p {
    color: #22252A;
    font-size: 25pt;
    text-decoration: none;
    text-align: center;
}

/* responsiviteit*/

@media screen and (max-width: 882px) {
    #terugnaarboven {
        display: none;
    }
    header ul li {
        display: none;
    }
    #hero {
        background-image: none;
    }
}

@media screen and (min-width: 882px) {
    #terugnaarboven2 {
        display: none;
    }
}

@media screen and (max-width: 882px) {
    #terugnaarboven {
        display: none;
    }
}
@media screen and (min-width: 882px) {
    #terugnaarboven2 {
        display: none;
    }
}



/* header nav */

.wrapper{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    position: fixed;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.94);
    z-index: 3;
}
.wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
nav .content{
    display: flex;
    align-items: center;
}
nav .content .links{
    margin-left: 200px;
    display: flex;
}

.content .links li{
    list-style: none;
    line-height: 70px;
}
.content .links li a,
.content .links li label{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 9px 30px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.content .links li label{
    display: none;
}
.content .links li a:hover,
.content .links li label:hover{
    color: #f8b960;
}
.wrapper .search-icon,
.wrapper .menu-icon{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}
.wrapper .menu-icon{
    display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
    content: "\f00d";
}
.wrapper .search-box{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
}
.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #fff;
    background: #171c24;
    padding: 0 100px 0 15px;
}
.search-box input::placeholder{
    color: #f2f2f2;
}
.search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: #171c24;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.wrapper input[type="checkbox"]{
    display: none;
}
/* Dropdown Menu code start */
.content .links ul{
    position: absolute;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    background-color: rgba(31, 31, 31, 0.94);
}
.content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}
.content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}
.content .links ul li{
    position: relative;
}
.content .links ul li:hover ul{
    top: 0;
}
/* Responsive code start */
@media screen and (max-width: 1250px){
    .wrapper nav{
        max-width: 100%;
        padding: 0 20px;
    }
    nav .content .links{
        margin-left: 138px;
    }
    .content .links li a{
        padding: 8px 13px;
    }
    .wrapper .search-box{
        max-width: calc(100% - 100px);
    }
    .wrapper .search-box input{
        padding: 0 100px 0 15px;
    }
}
@media screen and (max-width: 900px){
    .wrapper .menu-icon{
        display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
        content: "\f00d";
    }
    nav .content .links{
        display: block;
        position: fixed;
        background-color: rgba(31, 31, 31, 0.94);
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
        left: 0%;
    }
    .content .links li{
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link{
        display: none;
    }
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul{
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }
    .content .links #show-Bereiding:checked ~ ul,
    .content .links #show-about:checked ~ ul,
    .content .links #show-prod:checked ~ ul{
        max-height: 100vh;
    }
    .content .links ul li{
        margin: 7px 20px;
    }
    .content .links ul li a{
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
    }
}
@media screen and (max-width: 400px){
    .wrapper nav{
        padding: 0 10px;
    }
    .content .logo a{
        font-size: 27px;
    }
    .wrapper .search-box{
        max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon{
        width: 30px;
        right: 0;
    }
    .wrapper .search-box input{
        padding-right: 30px;
    }
}

nav i {
    width: 3rem;
    color: #ffffff;
    font-size: 20pt;
}
nav i:hover {
    color: #f8b960;
}