* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

body {
    background-color: #22252A;
    background-image: url("assets-pasta/home-head-less.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

h1 {
    color: #F8B960;
    font-family: Mr Alex, sans-serif;
    font-size: 50px;
}

/* Header */
header {
    width: 100%;
    height: 6rem;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    align-items: center;
    font-weight: 340;
}
#homebut {
    padding-left: 2rem;

}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li a {
    padding: 1rem;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

header ul li a:hover {
    color: #f8b960;
    font-weight: 400;
}

#current_page {
    font-weight: bold;
    color: #f8b960;
}

#logo {
    width: 8rem;
}

.icons {
    width: 3rem;
}

/* Deel 1: Main */
#hero {
    background-image: url("assets-pasta/home-head-hero.png");
    background-repeat: no-repeat;
    background-position: 550px -120px;
    background-size: 90%;
    height: 800px;
}

.Titel_div {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    padding: 7rem 0 1rem 8rem;
    text-align: Left;
    font-size: 35px;
    color: white;
}
#hero {
    background-image: url("assets-pasta/home-head-hero.png");
    background-size: 100%;
    
}

.Titel_div p {
    font-size: 16px;
    font-family: Lato, sans-serif;
    font-weight: 300;
}

.Title {
    color: white;
    font-size: 85px;
}

.Title_smalltext {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
}

.Knop-Bekijk-Ons-Aanbod {
    margin: 1.5%;
    background-color: #F8B960;
    color: #272425;
    border-width: 0;
    border-radius: 35px;
    padding: 25px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.Knop-Bekijk-Ons-Aanbod:hover {
    cursor: pointer;
    background-color: #e7a344;
    padding: 29px;
}

.Bekijk-Ons-Aanbod-Knop-Div {
    flex-direction: column;
    padding-bottom: 100px;
}

.Meest-bekeken-producten-div {
    background-color: #FDEFDB;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.Products-front-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #FDEFDB;
    padding-top: 69px;
    padding-bottom: 69px;
}

.Individueel-product-vakje {
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 2%;
    margin: 1%;
    border-radius: 25px;
    flex-direction: row;
}

.Individueel-product-vakje p {
    padding: 0 45px;
}

.Individueel-product-vakje img {
    width: 25%;
}

/* Deel 2: Info */
#Uitleg {
    background-color: #22252A;

}
#uitlegdiv {
    padding-top: 4rem;
    padding-bottom: 4rem;
}



#Waarom_Titel {
    padding-top: 5px;
}

#Uitleg p {
    color: white;
    padding-top: 25px;
    font-size: 15pt;
    font-weight: 300;
}

#uitlegdiv img {
    width: 90%;
    padding: 2rem;
}

#uitlegtekst {
    padding: 2rem 0 2rem 6rem;
}

.Inspiratie_Titel {
    padding-left: 69%;
    padding-bottom: 2rem;
}

.inspiratie img {
    width: 100%;
    padding: 0;
}

.inspiratie button {

}

#insp1 {
    background-image: url("assets-pasta/ambient-food1.png");
    background-size: cover;
    height: 283px;
}
#insp2 {
    background-image: url("assets-pasta/ambient-food2.png");
    background-size: cover;
    height: 283px;
}
#insp3 {
    background-image: url("assets-pasta/ambient-food3.png");
    background-size: cover;
    height: 283px;
}


.Uitleg-voordelen-button{
    margin: 1%;
    background-color: #F8B960;
    color: white;
    border-width: 0;
    border-radius: 35px;
    padding: 15px;
    width: 30%;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}



/* Deel 3: Ervaringen */
.Ervaringen {
    background-color: #FDEFDB;
    height: 500px;
}

.Ervaringen_Titel {
    padding-top: 60px;
    padding-left: 140px;
    color: black;
}

.info-chefs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.Info-chef-individueel {
    background: white;
    box-shadow: 0 0 20px black;
    padding: 2%;
    height: 60%;
    width: 25%;
    margin: 2.69%;
    border-radius: 25px;
}

.Info-chef-individueel p {
    padding: 0 45px;
}

.Info-chef-individueel img {
    width: 20%;
}

.Bekijk-Meer-Recensies-Knop-Div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 150px;
}

/* Deel 4: footer */
.foot {
    box-shadow: 0 0 20px black;
    display: flex;
    text-align: center;
    background: #22252A;
    padding: 30px;
    color: white;
}

.foot p {
    padding: 0 45px;
}

.foot a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.Extra-nav {
    width: 50%;
}
.Ons-aanbod {
    width: 50%;
}
.Contact {
    width: 50%;
}

.Container_Subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #22252A;
    padding: 30px;
    color: white;
}