* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

body {
    background-image: url("assets-pasta/background.png");
    background-size: auto;
    background-position: bottom;
}


/* Header */
header {
    width: 100%;
    height: 6rem;
    background-color: #22252A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
}

header ul {
    display: flex;

    list-style-type: none;
}

header ul li a {
    padding: 1rem;
    color: #f8b960;
    text-decoration: none;
    display: inline-block;
}

#logo {
    width: 8rem;
}

.icons {
    width: 3rem;
}

body {
    background-color: #272424;
}


/*Main*/
.TitelRecept {
    color: #F8B960;
    margin: 100px auto auto 100px;
}

h4 {
    color: #F8B960;
    margin: 25px auto auto 100px;
}

h6 {
    color: #F8B960;
    margin: auto auto 10px 100px;
}

.linksFoto {
    display: inline-block;
}

#ingrediënten {
    margin-bottom: 0;
    padding-left: 18px;
}

#bereiding {
    padding-left: 18px;
    margin-bottom: 0;
}

ul, ol {
    color: #FFFFFF;
    margin: 5px 100px auto 100px;
    padding-left: 22px;
}

ol li {
    padding: 3px 0;
}

#image {
    background-image: url("assets/Pasta's/mac cheese.jpg");
    border-radius: 45px;
    background-size: 100% auto;
    aspect-ratio: 1 / 0.5;
    background-position: center;
    margin: 180px auto auto 50px;
    display: inline-block;
    vertical-align: top;
}

/* footer */
.container-fluid {
    box-shadow: 0 0 20px black;
    display: flex;
    text-align: center;
    background: #22252A;
    padding: 30px;
    color: white;
    margin-top: 150px;
}

.container-fluid p {
    padding: 0 45px;
}

.container-fluid a {
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.Extra-nav {
    width: 50%;
}

.Ons-aanbod {
    width: 50%;
}

.Contact {
    width: 50%;
}

.Container_Subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #22252A;
    padding: 30px;
    color: white;
}