/**
* ! Changing default styles of the browser
**/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

/* Header */


.wrapper{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.94);
    z-index: 3;
    position: relative;
}
.wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
nav .content{
    display: flex;
    align-items: center;
}
nav .content .links{
    margin-left: 200px;
    display: flex;
}
nav i {
    width: 3rem;
    color: #ffffff;
    font-size: 20pt;
}
nav i:hover {
    color: #f8b960;
}

#logo {
    width: 8rem;
}

.content .links li{
    list-style: none;
    line-height: 70px;
}
.content .links li a,
.content .links li label{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 9px 30px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.content .links li label{
    display: none;
}
.content .links li a:hover,
.content .links li label:hover{
    color: #f8b960;
}
a.active {
    color: #f8b960 !important;
}

.wrapper .menu-icon{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}
.wrapper .menu-icon{
    display: none;
}



.wrapper input[type="checkbox"]{
    display: none;
}


.content .links ul{
    position: absolute;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    background-color: rgba(31, 31, 31, 0.94);
}
.content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}
.content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}
.content .links ul li{
    position: relative;
}
.content .links ul li:hover ul{
    top: 0;
}



@media screen and (max-width: 1250px){
    .wrapper nav{
        max-width: 100%;
        padding: 0 20px;
    }
    nav .content .links{
        margin-left: 138px;
    }
    .content .links li a{
        padding: 8px 13px;
    }
}
@media screen and (max-width: 900px){
    .wrapper .menu-icon{
        display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
        content: "\f00d";
    }
    nav .content .links{
        display: block;
        position: fixed;
        background-color: rgba(31, 31, 31, 0.94);
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
        left: 0%;
    }
    .content .links li{
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link{
        display: none;
    }



    .content .links ul,
    .content .links ul ul{
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }
    .content .links #show-Bereiding:checked ~ ul,
    .content .links #show-about:checked ~ ul,
    .content .links #show-prod:checked ~ ul{
        max-height: 100vh;
    }
    .content .links ul li{
        margin: 7px 20px;
    }
    .content .links ul li a{
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
    }
}
@media screen and (max-width: 400px){
    .wrapper nav{
        padding: 0 10px;
    }
    .content .logo a{
        font-size: 27px;
    }

}

body {
    font-family: sans-serif;
    background-color: #22252A;
}

h1 {
    color: #F8B960;
    font-family: Mr Alex;
    font-size: 50px;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

/**
* ! Navbar STyles are here
**/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    margin-bottom: 30px;
}

.cart {
    position: relative;
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}

.cartAmount {
    position: absolute;
    top: 10px;
    right: 65px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

/**
* ! Shop items styles are here
**/

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
}

.item {
    border: 2px solid #212529;
    border-radius: 4px;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    color: white;
}

.details h3 {
    color: #F8B960;
}

.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
}

.bi-dash-lg {
    color: red;
}

.bi-plus-lg {
    color: green;
}

/**
* ! style rules for label and some buttons
**/

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}