* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    color: white;
}

/* Header */
header {
    width: 100%;
    height: 6rem;
    background-color: #424040;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
}

header ul {
    display: flex;
    list-style-type: none;
}

header ul li a {
    padding: 1rem;
    color: #f8b960;
    text-decoration: none;
    display: inline-block;
}

header ul li a:hover {
    color: white;
}

#current_page {
    font-weight: bold;
    color: white;
}

#logo {
    width: 8rem;
}

.icons {
    width: 3rem;
}

/* Main */
main {
    background-image: url("assets-pasta/background.png");
    background-position: center;
    /* background-color: #272425; */
    width: 100%;
    padding: 4rem;
}

main h1 {
    color: #f8b960;
    font-size: 46px;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

/* Top section */
#top_section {
    margin-bottom: 6rem;
    width: 90%;
}

#top_section img {
    width: 100%;
    height: 10rem;
    margin: 1.5rem auto;
    object-fit: cover;
}

#top_section h3 {
    color: #F8B960;
    text-align: center;
    font-size: 1.5rem;
}

#top_section p {
    color: white;
    text-align: center;
}

/* Mid section */
#mid_section {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 6rem;
}

#mid_section h1 {
    margin-bottom: 3rem;
}

#mid_section h2 {
    color: #f8b960;
    font-size: 40px;
    font-weight: bold;

}

#mid_section img {
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
}

.upper_row {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
}

.review_date {
    color: grey;
    margin-left: 2rem;
    margin-top: 0.7rem;
}

.client_since {
    font-weight: bold;
}

#upper_mid_section {
    margin-bottom: 5rem;
}

/* Star rating reviews */
.star-rating input {
    display: none;
}

.star-rating > label {
    width: 50px;
    height: 30px;
    font-family: Verdana, sans-serif;
    font-size: 30px;
    color: orange;
}

.star-rating label::before {
    content: "\2606";
    line-height: 26px;
}

.star-rating input:checked ~ label:before {
    content: "\2605";
}

.star-rating {
    display: flex;
    width: 160px;
    flex-direction: row-reverse;
}

/* Bottom section */
#bottom_section {
    margin-bottom: 6rem;
    width: 90%;
}

#bottom_section img {
    width: 100%;
    margin: 1.5rem auto;
}

#bottom_section h3 {
    color: #F8B960;
    text-align: center;
    font-size: 1.5rem;
}

#bottom_section p {
    color: white;
    text-align: center;
}