* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    color: white;
}



/* Main */
main {
    background-image: url("assets-pasta/background.png");
    background-position: center;
    /* background-color: #272425; */
}

main h1 {
    color: #f8b960;
    font-size: 46px;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

/* Top section */
#top_section .col-md-4 {
    width: 16%;
}

#top_section img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

#top_section h3 {
    color: #F8B960;
    text-align: center;
    font-size: 1.5rem;
}

#top_section p {
    color: white;
    text-align: center;
}

/* Mid section */
#mid_section {
    width: 80%;
    margin: 0 auto;
}

#mid_section h1 {
    margin-bottom: 3rem;
}

#mid_section h2 {
    color: #f8b960;
    font-size: 40px;
    font-weight: bold;

}

#mid_section img {
    width: 100%;
    border-radius: 2rem;
    padding: 1rem;
}

.upper_row {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
}

.review_date {
    color: grey;
    margin-left: 2rem;
    margin-top: 0.7rem;
}

.client_since {
    font-weight: bold;
}

#upper_mid_section {
    margin-bottom: 5rem;
}

/* Star rating reviews */
.star-rating input {
    display: none;
}

.star-rating > label {
    width: 50px;
    height: 30px;
    font-family: Verdana, sans-serif;
    font-size: 30px;
    color: orange;
}

.star-rating label::before {
    content: "\2606";
    line-height: 26px;
}

.star-rating input:checked ~ label:before {
    content: "\2605";
}

.star-rating {
    display: flex;
    width: 160px;
    flex-direction: row-reverse;
}

/* Bottom section */
#bottom_section {
    margin-bottom: 6rem;
    width: 90%;
}

#bottom_section img {
    width: 100%;
    margin: 1.5rem auto;
}

#bottom_section h3 {
    color: #F8B960;
    text-align: center;
    font-size: 1.5rem;
}

#bottom_section p {
    color: white;
    text-align: center;
}

/* Footer */
footer {
    background: #424040;
    box-shadow: 0 0 20px black;
    color: white;
}

footer h3 {
    font-size: 1.5rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

footer a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 5px;
}

footer a:hover {
    color: #f8b960;
    font-weight: 400;
}

footer img {
    width: 1.5rem;
    margin-right: 1rem;
}

footer p {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

footer #footer_phone img {
    width: 10rem;
    padding: 1rem;
}

#footer_phone, #footer_web {
    display: none;
}

@media screen and (min-width: 768px) {
    #footer_phone {
        display: none;
    }
    #footer_web {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    #footer_phone {
        display: block;

    }
    #footer_web {
        display: none;
    }
}

/* Responsive webdesign */
/* main */
@media screen and (max-width: 992px) {
    #top_section .col-md-4 {
        width: 100%;
    }
    #mid_section {
        display: none;
    }
    #bottom_section img {
        width: 40%;
    }
}

@media screen and (max-width: 576px) {
    #bottom_section img {
        width: 50%;
    }
}

/* Header */

.wrapper{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.94);
    z-index: 3;
    position: relative;
}
.wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
nav .content{
    display: flex;
    align-items: center;
}
nav .content .links{
    margin-left: 200px;
    display: flex;
}
nav i {
    width: 3rem;
    color: #ffffff;
    font-size: 20pt;
}
nav i:hover {
    color: #f8b960;
}

#logo {
    width: 8rem;
}

.content .links li{
    list-style: none;
    line-height: 70px;
}
.content .links li a,
.content .links li label{
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 9px 30px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.content .links li label{
    display: none;
}
.content .links li a:hover,
.content .links li label:hover{
    color: #f8b960;
}
a.active {
    color: #f8b960 !important;
}

.wrapper .menu-icon{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}
.wrapper .menu-icon{
    display: none;
}



.wrapper input[type="checkbox"]{
    display: none;
}


.content .links ul{
    position: absolute;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
    background-color: rgba(31, 31, 31, 0.94);
}
.content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}
.content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}
.content .links ul li{
    position: relative;
}
.content .links ul li:hover ul{
    top: 0;
}



@media screen and (max-width: 1250px){
    .wrapper nav{
        max-width: 100%;
        padding: 0 20px;
    }
    nav .content .links{
        margin-left: 138px;
    }
    .content .links li a{
        padding: 8px 13px;
    }
}
@media screen and (max-width: 900px){
    .wrapper .menu-icon{
        display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
        content: "\f00d";
    }
    nav .content .links{
        display: block;
        position: fixed;
        background-color: rgba(31, 31, 31, 0.94);
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
        left: 0%;
    }
    .content .links li{
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link{
        display: none;
    }



    .content .links ul,
    .content .links ul ul{
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }
    .content .links #show-Bereiding:checked ~ ul,
    .content .links #show-about:checked ~ ul,
    .content .links #show-prod:checked ~ ul{
        max-height: 100vh;
    }
    .content .links ul li{
        margin: 7px 20px;
    }
    .content .links ul li a{
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
    }
}
@media screen and (max-width: 400px){
    .wrapper nav{
        padding: 0 10px;
    }
    .content .logo a{
        font-size: 27px;
    }

}

body {
    font-family: sans-serif;
    background-color: #22252A;
}

h1 {
    color: #F8B960;
    font-family: Mr Alex;
    font-size: 50px;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

/**
* ! Navbar STyles are here
**/

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    margin-bottom: 30px;
}

.cart {
    position: relative;
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}

.cartAmount {
    position: absolute;
    top: 10px;
    right: 65px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

